body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}
 
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.blue {
  border-left: 3px solid #ff6600;
}
 
.green {
  border-left: 3px solid #6666ff;
}
 
.red {
  border-left: 3px solid #0066ff;
}
.imagem{
  width:40px
  
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.column-33 {
  float: left;
  width: 50%;
  padding: 50px;
}

.btn{
  color: white;
}

.btn:hover{
  color: #f39c12;
}
ul{
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  margin: 0;
}

li:hover{
   background-color: #f39c12;
}

#menu{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
}
